.note-wrapper {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #000;
  border-radius: 6px;
  margin-bottom: 10px;
  width: 250px;
}

.icons-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.icon {
  cursor: pointer;
  margin-right: 5px;
}

.icon:hover {
  color: red;
}

.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.edit {
  border: 0;
  outline: 0;
  width: 100%;
  resize: none;
  overflow: hidden;
  min-height: 200px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
}

.addtag {
  padding: 5px 7px;
  border: 1px solid #000;
  border-radius: 3px;
  cursor: pointer;
  line-height: 24px;
  height: 36px !important;
}

.addtag:hover {
  color: red;
}
